---
import { Icon } from "astro-icon/components";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
const user = session?.user;

const currentPath = Astro.url.pathname;
const pages = [
  {
    href: "/admin/users",
    title: "Usuarios",
    iconName: "solar:user-linear",
  },
  {
    href: "/admin/projects",
    title: "Projectos",
    iconName: "solar:home-2-outline",
  },
  {
    href: "/admin/property",
    title: "Propiedades",
    iconName: "solar:key-square-2-broken",
  },
  {
    href: "/admin/roles",
    title: "Roles",
    iconName: "solar:user-check-broken",
  },
  {
    href: "/admin/permisos",
    title: "Permisos",
    iconName: "solar:lock-keyhole-broken",
  },
];
---

<section class="w-[286px] py-8 px-5 min-h-lvh border-r border-gray-200">
  <header class="mb-20">
    <div class="flex gap-4 items-center">
      <img
        src={user?.image}
        alt={user?.name}
        class="w-12 h-12 rounded-full bg-neutral-700"
      />
      <div class="">
        <p class="text-sm leading-3 mb-1 text-gray-500">Bienvenido</p>
        <h3 class="font-semibold text-gray-700 text-lg">{user?.name}</h3>
      </div>
    </div>
  </header>
  <nav>
    <ul class="flex flex-col gap-1 text-sm">
      {
        pages.map(({ href, title, iconName }) => (
          <li>
            <a
              href={href}
              title={title}
              class={`${href === currentPath ? "bg-gray-100 hover:bg-gray-100" : "hover:bg-gray-100"}  rounded-xl py-2 px-4 gap-3.5 flex items-center`}
            >
              <Icon name={iconName} size={17} />
              <span>{title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</section>
