---
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
const user = session?.user;

const currentPath = Astro.url.pathname;
const pages = [
  {
    href: "/admin/users",
    title: "Usuarios",
  },
  {
    href: "/admin/projects",
    title: "Projectos",
  },
  {
    href: "/admin/property",
    title: "Propiedades",
  },
];
---

<section class="w-[280px] bg-neutral-200 py-8 px-5">
  <header class="mb-20">
    <div class="flex gap-4 items-center">
      <img
        src={user?.image}
        alt={user?.name}
        class="w-12 h-12 rounded-full bg-neutral-700"
      />
      <div class="">
        <p class="text-sm leading-3 mb-1 text-gray-500">Bienvenido</p>
        <h3 class="font-semibold text-gray-700 text-lg">{user?.name}</h3>
      </div>
    </div>
  </header>
  <nav>
    <ul class="flex flex-col gap-[1px] text-sm">
      {
        pages.map(({ href, title }) => (
          <li>
            <a
              href={href}
              title={title}
              class={`${href === currentPath ? "bg-white hover:bg-white" : "hover:bg-opacity-50"} hover:bg-gray-100 rounded-md block px-3 py-3`}
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</section>
