---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const user = session?.user;
---

{
  session?.user ? (
    <div class="flex items-center gap-4 relative group">
      <button type="button" class="relative">
        <img
          src={user?.image}
          class="w-12 h-12 rounded-full object-cover"
          alt={user?.name}
        />
        <div class="w-3 h-3 absolute top-8 right-0 rounded-full bg-green-400 border-2 border-white" />
      </button>
      <div class="opacity-0 pt-2 invisible translate-y-2 group-hover:translate-y-0 group-hover:visible group-hover:opacity-100 transition-all duration-500 ease-in-out absolute top-full -right-3">
        <ul class="bg-white shadow-lg rounded-lg w-[300px] border border-gray-100">
          <li class="py-6 text-center">
            <div class="relative w-12 h-12 mb-4 mx-auto">
              <img
                src={user?.image}
                class="rounded-full object-cover w-full h-full"
                alt={user?.name}
              />
              <div class="w-3 h-3 absolute top-8 right-0 rounded-full bg-green-400 border-2 border-white" />
            </div>
            <p class="text-center text-sm font-semibold w-full">{user?.name}</p>
          </li>
          <li>
            <a href="/" class="block py-4 px-6 hover:bg-gray-  ">
              Home
            </a>
          </li>
          <li>
            <a href="/admin/property" class="block py-4 px-6 hover:bg-gray-  ">
              Propiedades
            </a>
          </li>
          <li class="border-t border-gray-100">
            <SignOut class="relative w-full px-5 py-5 text-left hover:text-gray-500 transition-colors">
              Salir
            </SignOut>
          </li>
        </ul>
      </div>
    </div>
  ) : (
    <SignIn
      class="block px-5 py-2 bg-black text-white rounded-full transition-colors duration-700 hover:bg-gray-800 active:bg-gray-900"
      provider="google"
    >
      Iniciar sesión
    </SignIn>
  )
}
