---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import SearchForm from "@components/SearchForm";
import Main from "@components/Main.astro";
import { supabase } from "@lib/supabase";
import PropertiesListByCompany from "@components/PropertiesListByCompany";
import GetInTouch from "@components/GetInTouch";
import { PropertyState } from "@types/propertyState";

const { id } = Astro.params;
const { currentUserId: userId } = Astro.locals;

export async function getStaticPaths() {
  const { data, error } = await supabase.from("company").select("id");
  if (error) {
    console.error("Error fetching items:", error.message);
    return [];
  }
  return data.map((company) => ({
    params: { id: company.id.toString() },
  }));
}

const { data: company } = await supabase
  .from("company")
  .select("id")
  .eq("id", Astro.params.id)
  .single();

const { data: properties } = await supabase
  .from("property")
  .select(
    `
      id,
      title,
      description,
      state,
      user_id,
      size,
      delivery_at,
      bathroom_count,
      phase,
      price,
      bedroom_count,
      company_id,
      user!property_user_id_fkey (
        id,
        email,
        name,
        image_url
      ),
      company!property_company_id_fkey (
        id,
        name,
        logo_url,
        image_url
      )
    `,
  )
  .eq("company_id", id)
  .eq("state", PropertyState.ACTIVE)
  .order("created_at", { ascending: false });

if (!id || !company) {
  return Astro.redirect("/404");
}
---

<Layout>
  <SearchForm client:load />
  <div class="mb-5">
    <img src={company.logo_url} width="300px" class="mb-5" alt={company.name} />
    <h1 class="text-3xl font-semibold mb-4">
      {company.name}
    </h1>
    <p class="text-lg">{company.description}</p>
  </div>
  <div class="mb-8">
    <GetInTouch
      client:load
      companyId={company.id}
      companyName={company.name}
      companyLogo={company.logo_url}
    />
  </div>
  <PropertiesListByCompany
    client:load
    userId={userId}
    properties={properties}
    companyId={company.id}
  />
</Layout>
