---
import Layout from "@layouts/Layout.astro";
import SearchForm from "@components/SearchForm";
import { supabase } from "@lib/supabase";
import PropertiesListByCompany from "@components/PropertiesListByCompany";
import GetInTouch from "@components/GetInTouch";
import { PropertyState } from "@types/propertyState";
import { propertyQuery } from "@queries/property";
import { NavigatorLockAcquireTimeoutError } from "@supabase/supabase-js";
import { getSession } from "auth-astro/server";

const { id } = Astro.params;
const session = await getSession(Astro.request);
const userEmail = session?.user?.email;

export async function getStaticPaths() {
  const { data, error } = await supabase.from("company").select("id");
  if (error) {
    console.error("Error fetching items:", error.message);
    return [];
  }
  return data.map((company) => ({
    params: { id: company.id.toString() },
  }));
}

const { data: company } = await supabase
  .from("company")
  .select("id, name, logo_url, description")
  .eq("id", Astro.params.id)
  .single();

const { data: properties } = await supabase
  .from("property")
  .select(propertyQuery)
  .eq("company_id", id)
  .eq("state", PropertyState.ACTIVE)
  .order("created_at", { ascending: false })
  .limit(4);

if (!id || !company) {
  return Astro.redirect("/404");
}
---

<Layout>
  <SearchForm client:load />
  <div class="mb-5">
    <div class="flex items-center gap-3.5">
      <img
        src={company.logo_url}
        width="150px"
        class="mb-5"
        alt={company.name}
      />
      <h1 class="text-md lg:text-2xl font-semibold mb-4">
        {company.name}
      </h1>
    </div>
    <p class="text-lg">{company.description}</p>
  </div>
  <div class="mb-8">
    <GetInTouch
      client:load
      companyId={company.id}
      companyName={company.name}
      companyLogo={company.logo_url}
    />
  </div>
  <PropertiesListByCompany
    client:load
    userEmail={userEmail}
    properties={properties}
    companyId={company.id}
  />
</Layout>
